*{
    padding:0px;
    margin:0px;
    /* font-size: 0px; */
    outline:1px red dashed;
}
body{
    background-color: rgb(243, 232, 217);
}
.parent_container{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;

}
.logincard{
    background-color: rgba(52, 47, 47, 0.37);
    border-radius:10px;
    height:400px;
    width:350px;
    display:flex;
    flex-flow:wrap column;
    justify-content: space-around;
    align-items: center;
}