* {
    padding: 0px;
    margin: 0px;

}

.container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(243, 154, 90);
    display: grid;
    grid-template-columns: 15% 20% 30% 20% 15%;
    grid-template-rows: 40% 20% 20% 20%;
}

#c1 {
    grid-area: 2/2/3/5;
    background-color: black;
    order: -1;

}

#c2 {
    background-color: white;
    grid-area: 1/3/5/4;
}